@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.headl {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 5.5vw;
  font-style: normal;
}

body {
  max-width: 100vw;
  box-sizing: border-box;
}

body {
  font-family: "Play", sans-serif;
  font-weight: bold;
}

.subh {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  font-style: normal;
}
